* {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    font-family: var(--font-third);
    background: var(--gradient-color-third);

  }

  section {
    height: 100vh; /* Full viewport height */
    box-sizing: border-box; /* Prevent padding issues */
  }
