@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-first: #1E201E;
    --color-second: #ECDFCC;
    --color-third: #697565;
    --color-hover: #272727;

    --font-first: 'Krona-One', sans-serif;
    --font-second: 'Montserrat', sans-serif;
}
@media (max-width: 1200px) {
    .presentation {
        flex-direction: column;
    }
    .image_front {
        width: 100%;
    }
    .image_about {
        width: 70%;

    }
    .header_menu {
        justify-content: center;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentation_content {
        width: auto;
    }
    .presentation_links_link {
        width: auto;
    }

}

*{
    margin: 0;
    padding: 0;
    /*outline: 5px solid blue;*/
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--color-first);
    color: var(--color-second);

}

.header{
    padding: 0%;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: auto;
}

.header_menu {
    display: flex;
    width: fit-content;
}

.header_menu_link {
    font-family: var(--font-second);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-third);
    margin: 0;
    text-decoration: none;
}

.header_menu_link.about {
    margin-left: 20px;
}

.presentation {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    margin-top: 5%;

}
.presentation_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentation_content_title{
    font-size: 2.25rem;
    font-family: var(--font-first);

}
.title-highlight {
    color: var(--color-third);

}
.presentation_content_text{
    font-size: 1.5rem;
    font-family: var(--font-second);
    display: flex;
}
.presentation_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.links_title {
    font-family: var(--font-first);
    font-weight: 400;
    font-size: 1.5rem;
}
.presentation_links_link{
    justify-content: center;
    gap: 8px;
    display: flex;
    border: 2px solid var(--color-third);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-second);
    font-family: var(--font-second);
}

.presentation_links_link:hover {
    background-color: var(--color-hover);
}

.footer {
    color: var(--color-first);
    background-color: var(--color-third);
    padding: 10px;
    text-align: center;
    font-family: var(--font-second);
    font-size: 1.0rem;
    font-weight: 400;

}

.image_front {
    width: 40%;
    border-radius: 10px;
}
.image_about {
    width: 30%;
    border-radius: 10px;
}
